{% extends 'layout.html' %} {% block title %} Edit Action Plan {% endblock %} {% block content %}
<div class="details-card">
    <form id="action-plan-form" method="post" action="{{ form_action }}" class="plan-form">
        <label for="name">Name</label>

        <input
            type="text"
            id="name"
            name="name"
            value="{{ name }}"
            placeholder="e.g. Monthly workstation maintenance"
        />
        <table id="items" class="items-table form-table" data-action-search-url="/actions/search">
            <thead>
                <tr><th>Item</th><th class="actions-col">Action</th></tr>
            </thead>
            <tbody>
                <!--Template Row-->
                <tr class="template"><td><input type="text" name="items" class="js-action-item-input" form="" placeholder="Checklist item" autocomplete="off"></td><td><button class="remove btn btn-danger" type="button">Remove</button></td></tr>
                {% for item in items %}
                <tr><td><input type="text" name="items" class="js-action-item-input" value="{{ item.name }}" autocomplete="off"></td><td><button class="remove btn btn-danger" type="button">Remove</button></td></tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <button class="add-row btn" type="button" data-table="items">Add Item</button>
        </div>
    </form>
</div>
<script src="/static/action_item_search.js"></script>
{% endblock %}
{% block bottom_actions %}
<a class="btn" href="{{ cancel_url }}">Cancel</a>
<button class="btn btn-primary" type="submit" form="action-plan-form">Save</button>
{% endblock %}
