{% extends 'layout.html' %}
{% block nav %}
<nav class="top-nav">
    <div class="top-nav-inner">
        <div class="nav-left">
            <a class="brand" href="/">Maintenance Planner</a>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/executions">Executions</a>
        </div>
        <a class="nav-link" href="/action_plan/new">New Plan</a>
    </div>
</nav>
{% endblock nav %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<p class="muted">{{ message }}</p>
{% endblock content %}
{% block bottom_actions %}
<a class="btn btn-primary" href="{{ button_href }}">{{ button_label }}</a>
{% endblock bottom_actions %}
